*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;  
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    transition: ease .3s;
}

.navBar i{
    font-size: 16px;
}
/* Header Section */

.header{
    width: 100%;
    height: 120px;
    background-color: #ff6433;
    position: fixed;
    color: #fff;
}

.Warper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBar{
    font-size: .8125rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: 34px;
    min-width: 1200px;
    position: relative;
}

.Left{
    position: absolute;
    left : 0;
}

.Right{
    position: absolute;
    right: 0;
}

.navBar__left,
.navBar__right{
    padding: 0 6px;
    display: inline-block;
}

.Left > .navBar__left:hover,
.Right > .navBar__right:hover{
    opacity: 0.8;
    cursor: pointer;
}

.navBar a,
.Search__Lower--Category a{
    text-decoration: none;
    padding: 0.25rem;
    color: white;
}



.navBar__left+.navBar__left{
    border-left: solid 3px hsla(0,0%,100%,.22);
}

.navBar__right:last-child{
    border-left: solid 1px #fff;
}

/* Navbar PopUp */

#Language{
    position: relative;
    z-index: 99999;
}

#Language:hover{
    animation: opacity1 linear .4s forwards;
}

@keyframes opacity1 {
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}
@keyframes PopUp {
    from{
        opacity: 0;
        height: 0%;
        color: none;
    }
    90%{
        opacity: 1;
        height: 600%;
    }
    100%{
        
        color: black;
    }
}
@keyframes PopOut {
    from{
        display: block;
        height: 100%;
    }
    50%{
        height: 0%;
    }
    to{
        display: none;
    }
}

#Language:hover .Language__Popup{
    display: block !important;
    opacity: 1 !important;
    animation: PopUp ease-in .3s;
}


.Language__Popup{
    width: 200px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    position: absolute; left: -90px; top: 26px;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
}
.ThongBao{
    position: relative;
    z-index: 99999;
}

.ThongBao__PopUp{
    position: absolute; top: 26px; right: 0;
    width: 400px;
    background-color: white;
    height: 300px;
    color: black;
    font-size: 16px;
    display: none;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    animation: PopUp ease-in .1s;

}

.ThongBao:hover .ThongBao__PopUp{
    display: block !important;
}

.ThongBao:hover{
    animation: opacity1 linear .4s forwards;
}
.ThongBao__PopUp::before{
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute; top: -26px; right: 10px;
}

.ThongBao__PopUp--Content:first-child{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThongBao__PopUp--Content:last-child,
.ThongBao__PopUp--Content:nth-child(2){
    width: 50%;
    height: 20%;
    background-color: #f5f5f5;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThongBao__PopUp--Content:last-child:hover,
.ThongBao__PopUp--Content:nth-child(2):hover{
    color: #ff6433;
    background-color: rgb(241, 241, 241);
}

.Language__Popup::before{
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute;
    top: -26px; right: 40px;
}

.Language__Popup--TiếngViệt,
.Language__Popup--English{
    padding: 16px 8px;
}

.Language__Popup--TiếngViệt:hover,
.Language__Popup--English:hover{
    color: #ff6433;
}


/* SearchBar */
.searchBar{
    min-width: 1200px;
    max-width: 1200px;
    height: 86px;
    font-size: .8125rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.searchBar__icon{
    background-image: url("./ShopeeThumbnail.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    z-index: 3;
    height:86px;
    min-width: 193.5px;
    font-size: 24px;
    flex-grow: 1;
}


.Search{
    flex-grow: 3;
    margin-left: 16px;
    max-width: 763.5px;
}

.Search__Bar input{
    padding: 12px 8px;
    border: none;
    border-radius: 3px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.Search__Bar i{
    position: absolute;
    font-size: 16px;
    padding: 9px 20px;
    transform: translateX(-103%) translateY(2.5px);
    background-color: #ff6433;
    z-index: 0;
}

.Search__Bar i:hover,
.Search__Lower--Category:hover{
    opacity: 0.8;
    cursor: pointer;
}

.Search__Lower{
    display: flex;
    justify-content: center;
}

.Search__Lower--Category{
    margin-top: 8px;
    font-size: 12px;
    display: inline-block;
    flex-grow: 1;
}

.searchBar__cart{
    position: relative;
    min-width: 180px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.searchBar__cart .Cart__PopUp{
    position: absolute; top: 38px; right: 0;
    transform: translateX(-25%);
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    width: 350px;
    height: 200px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center;
    display: none;
    animation: PopUp ease-in .1s;
}
.Cart__PopUp::before{
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute; top: -26px; right: 10px;
}

.searchBar__cart:hover .Cart__PopUp{
    display: flex !important;
}