*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    transition: ease .3s;
}

.header,
.upperbody,
.Category{
    display: flex;
    justify-content: center;
}

.navBar i{
    font-size: 16px;
}
/* Header Section */

.header{
    width: 100%;
    height: 120px;
    background-image: linear-gradient(0, #f63, #f53e2d);
    position: fixed;
    color: #fff;
    z-index: 9999;
}

.Warper{
    min-width: 1200px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navBar{
    font-size: .8125rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: 34px;
    min-width: 1200px;
    position: relative;
}

.Left{
    position: absolute;
    left : 0;
}

.Right{
    position: absolute;
    right: 0;
}

.navBar__left,
.navBar__right{
    padding: 0 6px;
    display: inline-block;
}

.Left > .navBar__left:hover,
.Right > .navBar__right:hover{
    opacity: .8;
    cursor: pointer;
}

.navBar a,
.Search__Lower--Category a{
    text-decoration: none;
    padding: 0.25rem;
    color: white;
}



.navBar__left+.navBar__left{
    border-left: solid 3px hsla(0,0%,100%,.22);
}

.navBar__right:last-child{
    border-left: solid 1px #fff;
}

/* Navbar PopUp */

#DownloadSection:hover .downloadPopUp{
    display: block;
}
#DownloadSection:hover{
    animation: opacity1 linear .1s forwards;
}

.downloadPopUp{
    position: absolute;
    width: 200px;
    background-color: #fff;
    top: 30px;
    display: none;
    transform-origin: 10% top;
    animation: PopUp ease-in .25s;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
.downloadPopUp::before{
    content: "";
    display: block;
    width: 50%;
    height: 24px;
    position: absolute; top: -10px; left: 0;
}

.downloadPopUp__QR{
    padding: 8px;
}
.downloadPopUp__QR img{
    width: 100%;
}

.downloadPopUp__Additional{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.downloadPopUp__Additional--link{
    width: 50%;
}

.downloadPopUp__Additional--link img{
    width: 100%;
}


#Language{
    position: relative;
    z-index: 99999;
}

#Language:hover{
    animation: opacity1 linear .3s forwards;
}

@keyframes opacity1 {
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
}
@keyframes PopUp {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

#Language:hover .Language__Popup{
    display: block !important;
    opacity: 1 !important;
    animation: PopUp ease-in .25s;
}


.Language__Popup{
    width: 200px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    position: absolute; left: -90px; top: 26px;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    transform-origin: 70% top;
    border-radius: 2px;
}

.Language__Popup::after{
    content: "";
    display: block;
    width: 50%;
    height: 24px;
    position: absolute; top: -10px; right: 0;
}

.ThongBao{
    position: relative;
    z-index: 99999;
}

.ThongBao__PopUp{
    position: absolute; top: 26px; right: 0;
    width: 400px;
    background-color: white;
    color: black;
    font-size: 16px;
    display: none;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    animation: PopUp ease-in .25s;
    transform-origin: 92% top;
    border-radius: 2px;
}

.ThongBao__PopUp::after{
    content: "";
    display: block;
    width: 50%;
    height: 24px;
    position: absolute; top: -10px; right: 0;
}

.ThongBao:hover .ThongBao__PopUp{
    display: block !important;
}

.ThongBao:hover{
    animation: opacity1 linear .4s forwards;
}
.ThongBao__PopUp::before{
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute; 
    top: -23px;
    left: calc(100% - 45px);
}
.ThongBao__PopUp--Content{
    cursor: default;
}
.ThongBao__PopUp--Content:first-child{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThongBao__PopUp--Content:last-child,
.ThongBao__PopUp--Content:nth-child(2){
    cursor: pointer;
    width: 50%;
    height: 35px;
    background-color: #f5f5f5;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ThongBao__PopUp--Content:last-child{
    border-bottom-right-radius: 2px;
}
.ThongBao__PopUp--Content:nth-child(2){
    border-bottom-left-radius: 2px;
}
.ThongBao__PopUp--Content:last-child:hover,
.ThongBao__PopUp--Content:nth-child(2):hover{
    color: #ff6433;
    background-color: rgb(241, 241, 241);
}

.Language__Popup::before{
    content: "";
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute;
    top: -26px; right: 40px;
}

.Language__Popup--TiếngViệt,
.Language__Popup--English{
    padding: 16px 8px;
}

.Language__Popup--TiếngViệt:hover,
.Language__Popup--English:hover{
    color: #ff6433;
}


/* SearchBar */
.searchBar{
    min-width: 1200px;
    max-width: 1200px;
    height: 86px;
    font-size: .8125rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.searchBar__icon{
    background-image: url("./ShopeeThumbnail.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    z-index: 3;
    height:86px;
    min-width: 193.5px;
    font-size: 24px;
    flex-grow: 1;
}


.Search{
    flex-grow: 3;
    margin-left: 16px;
    max-width: 763.5px;
}

.Search__Bar input{
    padding: 12px 8px;
    border: none;
    border-radius: 3px;
    width: 100%;
    position: relative;
    z-index: 0;
}
.Search__Bar input:focus ~ .Search__Recent{
    display: block;
}
.Search__Recent{
    position: absolute; top: 90px;
    background-color: #fff;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    max-width: 763.5px;
    width: 100%;
    border-radius: 5px;
    display: none;
}

.Search__Recent-item{
    padding: 10px;
}

.Search__Recent-item:hover{
    background-color: #f9f9f9;
    border-radius: 5px;
}

.Search__Bar i{
    position: absolute;
    font-size: 16px;
    padding: 9px 20px;
    transform: translateX(-103%) translateY(2.5px);
    background-color: #ff6433;
    z-index: 0;
}

.Search__Bar i:hover,
.Search__Lower--Category:hover{
    opacity: 0.8;
    cursor: pointer;
}

.Search__Lower{
    display: flex;
    justify-content: center;
}

.Search__Lower--Category{
    margin-top: 8px;
    font-size: 12px;
    display: inline-block;
    flex-grow: 1;
}

.searchBar__cart{
    position: relative;
    min-width: 180px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.searchBar__cart i{
    cursor: pointer;
}
.searchBar__cart .Cart__PopUp{
    position: absolute; top: 38px; right: 38%;
    cursor:default;
    padding: 64px 0;
    border-radius: 5px;
    font-size: 14px;
    color: #888;
    width: 400px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.08);
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    animation: PopUp ease-in .25s;
    transform-origin: 95% top;
}

.Cart-Container{
    cursor: pointer;
}
.Cart-Container::before{
    content: "";
    display: block;
    width: 25%;
    height: 24px;
    position: absolute; bottom: -8px; right: 50%;
}

.Cart__PopUp img{
    width: 30%;
}

.Cart__PopUp::before{
    content: "";
    cursor: pointer;
    border-top: solid 15px transparent;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    border-bottom: solid 15px #fff;
    position: absolute; top: -26px; right: 10px;
}


.Cart-Container:hover .Cart__PopUp{
    display: flex !important;
}


/* Body */

/* Banners */
.body{
    transform: translateY(120px);
}

.upperbody{
    padding-top: 26px;
    width: 100%;
    height: 380px;
    background-color: #fff;
}

.upperbody__Banners{
    display: flex;
}

.MainBanners{
    width: 66.6%;
}

.AdditionalBanners{
    margin-left: 4px;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MainBanners img{
    height: 100%;
}

.MainBanners img,
.AdditionalBanners img{
    width: 100%;
}


.upperbody__Sales{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Sales__btn{
    text-align: center;
    width: 100px;
    font-size: 12px;
    padding-top: 16px;
    cursor: pointer;
}

.Sales__btn:hover{
    transform: translateY(-4px);
}

.Sales__btn-icon img{
    width: 45px;
    height: 45px;
}
.Sales__btn-description{
    margin-top: 4px;
}

/* Category */
.Category{
    margin-top: 20px;
}
.Category__Header{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    color: #888;
}

.Category__Body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Category__Category{
    border: solid 1px #f5f5f5;
    background-color: #fff;
    font-weight: 200;
    font-size: 14px;
    width: 120px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.Category__Category:hover{
    border-color: #d4d4d4;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
}

.Category__icon{
    margin-top: 4px;
    width: 75%;
    height: 60%;
}
.Category__icon img{
    width: 100%;
    height: 100%;
}
.Category__description{ 
    margin-top: 6px;
}   

/* Shopsection */

.Shop{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.Shop__Header{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 24px;
    color: #f63;
    font-weight: 500;
    border-bottom: solid 4px #f63;
}

.Shop__Main{
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Item{
    width: 190px;
    height: 282px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;
    transition: all ease .3s;
}

.Item:hover{
    border: solid .001px #f63;
    transform: translateY(-2px);
    z-index: 3;
    outline: #f63;
}

.Item::after{
    content: "Tìm Sản phẩm tương tự";
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    background-color: #f63;
    width: 100%;
    height: 10%;
    color: white;
}
.Item:hover::after{
    display: flex !important;
}

.Item__img{
    width: 100%;
    height: 188px;
    position: relative;
}
.Item__img img{
    width: 100%;
    height: 100%;
}

.Sale--tag{
    position: absolute; top: 0; right: 0;
    background-color: #ffd839;
    opacity: .8;
    font-size: 14px;
    color: #ee4d2d;
    text-align: center;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.Sale--tag span{
    display: block;
    font-size: 13px;
    color: white;
}

.Sale--tag span::after{
    content: "";
    position: absolute; left: 0;
    z-index: -1;
    transform: translateY(-50%);
    display: block;
    border-top: solid 8px;
    border-bottom: solid 8px;
    border-left: solid 21px;
    border-right: solid 21px;
    border-color: transparent #ffd839 transparent #ffd839;
}

.Sale__Specials{
    position: absolute; bottom: 1px; left: 0;
    display: flex;
}

.Img__Container{
    width: 25%;
}
.Img__Container img{
    height: 100%;
}

.Item__Info{
    position: relative;
    height: 94px;
    padding: 8px;
    width: 100%;
}

.Item__Name{
    font-size: 12px;
}

.Item__Name--Sales{
    display: flex;
    margin-top: 4px;
}

.SaleGiam{
    background-color: #f69113;
    color: white;
    padding: 2px;
    font-size: 10px;
}

.FlashSale{
    font-size: 10px;
    margin-left: 4px;
    border: 1px solid #ee4d2d;
    color: #ee4d2d;
    padding: 2px;
}

.Item__Price{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 174px;
}

.Pricing{
    color: #f63;
    padding-bottom: 4px;
}

.SoldNumbers{
    color: rgba(0,0,0,.54);
    padding-bottom: 4px;
    font-size: 12px;
}

.Favorite{
    position: absolute; top: 5%; left: -4px;
    font-size: 12px;
    color: white;
    background-color: #f25220;
    padding: 0 10px;
}

.Favorite::before{
    content: "";
    z-index: -1;
    position: absolute; bottom: -50%; left: -5px;
    border: solid 6px #913113;
    border-color: transparent #913113 transparent transparent;
}

/* Footer */

.Footer{
    background-color: #fbfbfb;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.UpperFooter,
.LowerFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding-bottom: 40px;
}

.UpperFooter h4{
    font-weight: 700;
    font-size: 12px;
    margin: 16px 0;
}

.UpperFooter li{
    list-style: none;
    font-size: 12px;
    color: rgba(0,0,0,.65);
}

.UlGroup1 li,
.UlGroup2 li,
.UlGroup3 li{
    margin-bottom: 12px;
    user-select: none;
}

.UlGroup1 li:hover,
.UlGroup2 li:hover,
.UlGroup3 li:hover{
    cursor: pointer;
    color: #ee4d2d;
}

.UlGroup3 i{
    font-size: 16px;
    padding-right: 4px;
    color: rgba(0,0,0,.65) !important;
}

.Payment__Main{
    display: flex; 
    flex-wrap: wrap; 
    width: 240px;
}

.Payment__Container{
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px #cecece;
    margin: 0 8px 8px 0;
}

.UpperFooter__Download{
    display: flex;
}

.QR__Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4px;
    box-shadow: 0 2px 4px #cecece;
}

.UpperFooter__Download-Additionals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}
.UpperFooter__Download-Additionals-img{
    padding: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LowerFooter{
    border-top: 1.5px solid #e1e1e1;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    padding-top: 40px;
}
.LowerFooter span + span{
    border-left: 1px solid rgba(0, 0, 0, 0.54);
    padding-left: 4px;
}